# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# TELEGRAM WEBHOOK 
WEBHOOK_TELEGRAM_CHAT_ID=
TELEGRAM_BOT_HTTP_API=
WEBHOOK_URL_TELEGRAM=https://api.telegram.org/bot${TELEGRAM_BOT_HTTP_API}/sendMessage
WEBHOOK_URL=${WEBHOOK_URL_TELEGRAM}
